.button {
    font-family: open sans;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: wheat;
    width: 100px;
}

.button:disabled {
    background-color: lightgrey;
    color: gray;
}

#back {
    background-color: green;
    color: white;
    width: 130px;
}

#hw {
    width: 130px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}